@model IEnumerable<MinhasFinancas.Models.RelatorioDespesa>

@{
    ViewData["Title"] = "Gerenciandor de Finanças Pessoal";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">

<h2>Minhas Despesas</h2>
<br />
<div>
    <div style="float:left">
        <button class="btn btn-primary" onclick="AddEditDespesa(0)">Adicionar Despesa</button>
        <button class="btn btn-success" onclick="ReportDespesa()">Relatório Despesas</button>
    </div>
    <div style="float:right; width:40%;">
        <form asp-controller="Despesa" asp-action="Index" class="form-group">
            <div class="col-sm-6">
                <input class="form-control" type="text" name="criterio" placeholder="Procurar">
            </div>
            <button type="submit" class="btn btn-default btn-info">Filtrar</button>
        </form>
    </div>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.ItemNome)</th>
            <th>@Html.DisplayNameFor(model => model.Valor)</th>
            <th>@Html.DisplayNameFor(model => model.DataDespesa)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>Operação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.ItemNome)</td>
                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                <td>@Html.DisplayFor(modelItem => item.DataDespesa)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                <td>
                    <button class="btn btn-default" onclick="AddEditDespesa(@item.Id)">Editar</button>
                    <button class="btn btn-danger" onclick="DeleteDespesa(@item.Id)">Deletar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="despesaFormModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3 id="title" class="modal-title">Adicionar Despesa</h3>
            </div>
            <div class="modal-body" id="despesaFormModelDiv">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="despesaReportModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3 class="modal-title">Relatório de Despesas</h3>
            </div>
            <div class="modal-body" id="despesaReportModalDiv">
            </div>
        </div>
    </div>
</div>

<script>

    var AddEditDespesa = function (itemId) {
        var url = "/Despesa/AddEditDespesa?itemId=" + itemId;
        if (itemId > 0)
            $('#title').html("Edita Despesa");

        $("#despesaFormModelDiv").load(url, function () {
            $("#despesaFormModel").modal("show");
        });

        $('#despesaFormModel').on('shown.bs.modal', function () {

            $('#calender-container .input-group.date').datepicker({
                todayBtn: true,
                calendarWeeks: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                autoclose: true,
                container: '#despesaFormModel modal-body'
            });
        });
    }

    var ReportDespesa = function () {
        var url = "/Despesa/DespesaResumo";

        $("#despesaReportModalDiv").load(url, function () {
            $("#despesaReportModal").modal("show");
        })
    }

    var DeleteDespesa = function (itemId) {

        var resp = confirm("Deseja deletar a despesa : " + itemId);

        if (resp) {
            $.ajax({
                type: "POST",
                url: "/Despesa/Delete/" + itemId,
                success: function () {
                    window.location.href = "/Despesa/Index";
                }
            })
        }
    }
</script>

<script>
    $('body').on('click', "#btnSubmit", function () {
        var myformdata = $("#despesaForm").serialize();

        $.ajax({
            type: "POST",
            url: "/Despesa/Create",
            data: myformdata,
            success: function () {
                $("#myModal").modal("hide");
                window.location.href = "/Despesa/Index";
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    })
</script>
